<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
<!--    <filter>-->
<!--        <filter-name>prometheusFilter</filter-name>-->
<!--        <filter-class>io.prometheus.client.filter.MetricsFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>metric-name</param-name>-->
<!--            <param-value>webapp_metrics_filter</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>help</param-name>-->
<!--            <param-value>This is the help for your metrics filter</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>buckets</param-name>-->
<!--            <param-value>0.005,0.01,0.025,0.05,0.075,0.1,0.25,0.5,0.75,1,2.5,5,7.5,10</param-value>-->
<!--        </init-param>-->
<!--        &lt;!&ndash; Optionally override path components; anything less than 1 (1 is the default)-->
<!--             means full granularity &ndash;&gt;-->
<!--        <init-param>-->
<!--            <param-name>path-components</param-name>-->
<!--            <param-value>1</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

    <!-- You will most likely want this to be the first filter in the chain
    (therefore the first <filter-mapping> in the web.xml file), so that you can get
    the most accurate measurement of latency. -->
<!--    <filter-mapping>-->
<!--        <filter-name>prometheusFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Prometheus Metrics Servlet</servlet-name>
        <servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prometheus Metrics Servlet</servlet-name>
        <url-pattern>/metrics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>